
.about{
  display:grid;
  grid-template-columns:1fr 1fr;
  gap:80px;
  padding:120px 8%;
  align-items:center;
}

.about img{
  width:500px;
  height: 500px;
  border-radius:50%;
}

.about h2{
  font-size:4rem;
  font-family: 'New Gerbil';
}

.about button{
  margin-top:20px;
  border:none;
  background:none;
  cursor:pointer;
}

.about h2 .see{
  background:#d8e5d4;
  padding-top: -100px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 60px;
}

.about h2 .today{
  background:#d8e5d4;
  padding-top: -100px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 60px;
  /* font-size: 4rem; */
}