.testimonials{
  padding:120px 8%;
  text-align:center;
}

.testimonial-card{
  max-width:700px;
  margin:50px auto;
  background:#eef2ee;
  padding:50px;
  border-radius:40px;
}

h2{
  font-size: 3rem;
  font-family: 'New Gerbil';
}

.what{
  background:#cfe0cd;
  padding-top: -100px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 60px;
  font-size: 3rem;
}
